

<div class="custom-section" style="background-image: url('{{ section.settings.background_image | img_url: 'master'}}'); width: {{ section.settings.section_width }}px; height: {{ section.settings.section_height }}px;">
  <div class="container">
    <h1>{{ section.settings.title }}</h1>
    <button>{{ section.settings.button_text }}</button>
  </div>
</div>


<style>
  .custom-section {
    margin:0 auto;
  }
</style>


{% schema %}

 {
  "name": "Custom Section",
  "settings": [
    {
      "type": "header",
      "content": "Background Image"
    },
    {
      "type": "image_picker",
      "id": "background_image",
      "label": "Background Image"
    },
    {
      "type": "header",
      "content": "Title Settings"
    },
    {
      "type": "text",
      "id": "title",
      "label": "Title Text"
    },
    {
      "type": "header",
      "content": "Button Settings"
    },
    {
      "type": "text",
      "id": "button_text",
      "label": "Button Text"
    },
    {
      "type": "header",
      "content": "Custom Section Dimensions"
    },
    {
      "type": "number",
      "id": "section_width",
      "label": "Section Width (px)",
      "default": 1000
    },
    {
      "type": "number",
      "id": "section_height",
      "label": "Section Height (px)",
      "default": 500
    }
  ],
  "presets": [
    {
      "name": "Custom Section",
      "category": "Sections"
    }
  ]
}


{% endschema %}